@page
@model IndexModel
@using BitClient.HostedServices
@{ ViewData["Title"] = "Bit Client Web Page"; }

<div>
    <b>Bit Client Processor Status: </b> @Model._queueStatus
    @if (Model._queueStatus == QueueProcessorStatus.Stopped)
    {<a href="?start=all">Start Service</a> }
    else
    {<a href="?stop=all">Stop Service</a>}
</div>
